ODDS_API_KEY=
ODDS_API_REGIONS=eu
ODDS_API_MARKETS=h2h,spreads,totals
ODDS_API_SPORT_KEYS=soccer_argentina_primera_division,soccer_conmebol_copa_libertadores,soccer_uefa_champs_league,soccer_epl,basketball_nba
